$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

.icon-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined {
  line-height: 1;
  vertical-align: middle;
}

.rounded-12 {
  border-radius: 12px;
}
.rounded-20 {
  border-radius: 20px;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-80 {
  border-radius: 80px;
}

// 用途: 火熱募資課程btn垂直對齊
// 用途: 想學什麼btn
.custom-flex-center {
  display: flex;
  align-items: center;
}

// btn
.w-sm-100 {
  @media (max-width: 992px) {
    width: 100%;
  }
}

// 想學什麼嗎
.w-xxl-100 {
  @media (min-width: 1400px) {
    width: 100%;
  }
}

.h-800 {
  height: 800px;
}

// 用於文字標題裝飾
.title-deco {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background: url(../images/deco/flower-1.png);
    background-repeat: no-repeat;
    top: -24px;
    left: -24px;
    z-index: -1;
  }
}

// 用於區塊內的人物頭像 原始圖片不一致
.profile {
  width: 44px;
  height: 44px;
  border-radius: 68.75px;
}

.text-decoration-line-through {
  color: #808080;
}

// 限時8折
// badge-postion定位
// class需使用position-absolute
.badge-position {
  top: 16px;
  left: 16px;
}
.badge-position-sm {
  top: 4px;
  left: 4px;
}

.z-index-10 {
  z-index: 10;
}
