<footer>
  <div class="footer-bg">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-end gap-8 mb-8 mb-lg-4">
        <img class="logo-white" src="../assets/images/logo-white.png" alt="logo-white">
        <div class="d-flex flex-column flex-lg-row gap-lg-7 gap-6">
          <a class="f-inter fs-small link-white" href="#">常見問題</a>
          <a class="f-inter fs-small link-white" href="#">關於我們</a>
          <a class="f-inter fs-small link-white" href="#">隱私權政策</a>
          <a class="f-inter fs-small link-white" href="#">使用者條款</a>
        </div>
      </div>
      <div class="d-flex flex-column-reverse flex-lg-row justify-content-between align-items-lg-end gap-7">
        <p class="fs-sm-xs fs-lg-small text-copy">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
        <div class="d-flex gap-4">
          <a href="#">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5159_523)">
              <path opacity="0.7" d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M29 19.0263C29 15.152 24.9625 12 20 12C15.0377 12 11 15.152 11 19.0263C11 22.4994 14.2019 25.4086 18.527 25.9589C18.8199 26.0196 19.2188 26.1451 19.3198 26.386C19.4106 26.6047 19.3793 26.9474 19.3488 27.1685C19.3488 27.1685 19.2436 27.7796 19.2204 27.91C19.1814 28.1288 19.0395 28.7659 20 28.3767C20.9608 27.9874 25.1828 25.4404 27.071 23.3494C28.3754 21.9736 29 20.577 29 19.0263ZM14.4146 21.1339C14.1861 21.1339 14 20.9408 14 20.703V17.4397C14 17.2022 14.2116 17.0089 14.48 17.0089C14.7484 17.0089 14.9 17.2006 14.9 17.4397V20.2724H15.9854C16.2143 20.2724 16.4 20.4657 16.4 20.703C16.4 20.9408 16.2143 21.1339 15.9854 21.1339H14.4146ZM18.2 20.703C18.2 20.9408 17.9981 21.1339 17.7501 21.1339C17.5019 21.1339 17.3 20.9408 17.3 20.703V17.4397C17.3 17.2022 17.5019 17.0089 17.7501 17.0089C17.9981 17.0089 18.2 17.2022 18.2 17.4397V20.703ZM22.7 20.703C22.7 20.889 22.5717 21.0532 22.3797 21.1116C22.3316 21.1265 22.2813 21.1339 22.2309 21.1339C22.0849 21.1339 21.9449 21.0696 21.8566 20.9616L20.0372 18.6842V20.703C20.0372 20.9408 19.8272 21.1339 19.5687 21.1339C19.3103 21.1339 19.1 20.9408 19.1 20.703V17.4397C19.1 17.2541 19.2288 17.0899 19.4203 17.0312C19.4686 17.0162 19.5187 17.0089 19.5691 17.0089C19.7153 17.0089 19.8554 17.0731 19.9431 17.1812L21.7631 19.4587V17.4397C21.7631 17.2022 21.9735 17.0089 22.2316 17.0089C22.4902 17.0089 22.7 17.2022 22.7 17.4397V20.703ZM25.5853 18.6407C25.8142 18.6407 26 18.8339 26 19.0715C26 19.3088 25.8142 19.502 25.5853 19.502H24.4294V20.2724H25.5853C25.8138 20.2724 26 20.4657 26 20.703C26 20.9408 25.8138 21.1339 25.5853 21.1339H24.0145C23.7863 21.1339 23.6 20.9408 23.6 20.703V19.0726V19.0715V17.4397C23.6 17.2022 23.7859 17.0089 24.0145 17.0089H25.5853C25.8142 17.0089 26 17.2022 26 17.4397C26 17.6772 25.8142 17.8702 25.5853 17.8702H24.4294V18.6407H25.5853Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_5159_523">
              <rect width="40" height="40" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5159_526)">
              <path opacity="0.7" d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20 11.9946C20.855 11.9946 21.732 12.0166 22.582 12.0526L23.586 12.1006L24.547 12.1576L25.447 12.2186L26.269 12.2826C27.161 12.3509 28.0004 12.7316 28.6395 13.3577C29.2786 13.9838 29.6764 14.8152 29.763 15.7056L29.803 16.1306L29.878 17.0406C29.948 17.9836 30 19.0116 30 19.9946C30 20.9776 29.948 22.0056 29.878 22.9486L29.803 23.8586C29.79 24.0046 29.777 24.1456 29.763 24.2836C29.6764 25.1742 29.2784 26.0058 28.6391 26.6319C27.9999 27.258 27.1602 27.6386 26.268 27.7066L25.448 27.7696L24.548 27.8316L23.586 27.8886L22.582 27.9366C21.732 27.9726 20.855 27.9946 20 27.9946C19.145 27.9946 18.268 27.9726 17.418 27.9366L16.414 27.8886L15.453 27.8316L14.553 27.7696L13.731 27.7066C12.839 27.6384 11.9996 27.2577 11.3605 26.6316C10.7214 26.0055 10.3236 25.1741 10.237 24.2836L10.197 23.8586L10.122 22.9486C10.0455 21.9658 10.0048 20.9804 10 19.9946C10 19.0116 10.052 17.9836 10.122 17.0406L10.197 16.1306C10.21 15.9846 10.223 15.8436 10.237 15.7056C10.3235 14.8153 10.7212 13.984 11.3601 13.358C11.999 12.7319 12.8381 12.3511 13.73 12.2826L14.551 12.2186L15.451 12.1576L16.413 12.1006L17.417 12.0526C18.268 12.0166 19.145 11.9946 20 11.9946ZM18 17.5696V22.4196C18 22.8816 18.5 23.1696 18.9 22.9396L23.1 20.5146C23.1914 20.462 23.2673 20.3863 23.3201 20.295C23.3729 20.2037 23.4007 20.1001 23.4007 19.9946C23.4007 19.8892 23.3729 19.7856 23.3201 19.6943C23.2673 19.603 23.1914 19.5272 23.1 19.4746L18.9 17.0506C18.8088 16.998 18.7053 16.9702 18.5999 16.9702C18.4945 16.9703 18.3911 16.998 18.2998 17.0507C18.2086 17.1034 18.1329 17.1792 18.0802 17.2705C18.0276 17.3618 17.9999 17.4653 18 17.5706V17.5696Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_5159_526">
              <rect width="40" height="40" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            </a>
          <a href="#">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5159_529)">
              <path opacity="0.7" d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z" stroke="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5983 20.9736H24.1413L24.5219 18.0404H21.5983V16.1677C21.5983 15.3184 21.8357 14.7397 23.0615 14.7397L24.625 14.739V12.1156C24.3545 12.0799 23.4265 12 22.3467 12C20.0926 12 18.5494 13.3669 18.5494 15.8773V18.0404H16V20.9736H18.5494V28.5H21.5983V20.9736Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_5159_529">
              <rect width="40" height="40" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>