<!-- 還沒更改 -->
<header>
  <div class="container-lg py-3 pt-xl-8 pb-xl-4">
    <nav class="navbar p-3 py-xl-4 px-xl-8 bg-white">
      <a class="navbar-brand me-6" href="#">
        <img class="logo" src="../assets/images/logo.png" alt="logo" />
      </a>
      <ul class="d-none d-xl-block navbar-nav justify-content-end px-6">
        <li class="nav-item dropdown">
          探索
          <!-- <a
            class="nav-link dropdown-toggle f-custom-letter-spacing"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            探索
          </a> -->
          <!-- <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul> -->
        </li>
      </ul>
      <form class="d-none d-xl-block d-flex position-relative" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="搜尋各種音樂、數學、程式及設計課程"
          aria-label="Search"
        />
        <span class="material-symbols-outlined position-absolute form-icon-position"> search </span>
        <button class="btn btn-sm btn-primary fw-semibold position-absolute form-btn-position" type="submit">
          搜尋
        </button>
      </form>

      <ul class="list-unstyled d-flex align-items-center gap-4 me-4 me-xl-0 m-0 ms-auto">
        <li>
          <span class="material-symbols-outlined text-neutral-400 py-2 px-3"> notifications </span>
        </li>
        <li>
          <span class="material-symbols-outlined text-neutral-400 py-2 px-3"> shopping_cart </span>
        </li>
        <li class="d-none d-xl-block">
          <button class="d-none d-xl-block btn btn-lg btn-primary fw-semibold" href="#">登入 / 註冊</button>
        </li>
      </ul>

      <!-- 漢堡 -->
      <button
        class="navbar-toggler d-block d-xl-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end d-block d-xl-none"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">探索全部</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="d-xl-none navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="">
              <button class="btn btn-primary fw-semibold w-100" href="#">登入 / 註冊</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
